{% extends 'base.html' %}
{% load static %}

	{% block title %}
		<title>首页</title>
	{% endblock title %}
	

		{% block body-content %}

          <div class="content-headerline">
          	   <div class="sort">
          	   			全部分类
      			</div>		
				<span><a href="#">生活必备</a></span>
				<span>|</span> 
				<span><a href="#">救急药品</a></span>
				<span>|</span> 
				<span><a href="#">诱人美食</a></span>
				<span>|</span> 
				<span><a href="#">精品书籍</a></span>
				<a href="#" class="more">更多></a>
          	   
          </div>

          <div class="slider">
          		
          </div>

          <div class="content-body">
          		<div class="block1">
          			<div class="line1">
          					<div class="select">生活必备</div>
          					<a href="#" class="gd-more">更多></a>
          			</div>
          			<ul class="gd-list">
          				<li>
          					<div class="gd-name">电池</div>
          					<div class="gd-img"></div>
          					<div class="gd-price">2元/个</div>
          				</li>
          				<li></li>
          				<li></li>
          				<li></li>
          			</ul>
          		</div>
          		<div class="block2">
          			<div class="line2">
          					<div class="select">急救药品</div>
          					<a href="#" class="gd-more">更多></a>
          			</div>
          			<ul class="gd-list">
          				<li>
          					<div class="gd-name">电池</div>
          					<div class="gd-img"></div>
          					<div class="gd-price">2元/个</div>
          				</li>
          				<li></li>
          				<li></li>
          				<li></li>
          			</ul>
          		</div>
          		<div class="block3">
          			<div class="line3">
          					<div class="select">诱人美食</div>
          					<a href="#" class="gd-more">更多></a>
          			</div>
          			<ul class="gd-list">
          				<li>
          					<div class="gd-name">电池</div>
          					<div class="gd-img"></div>
          					<div class="gd-price">2元/个</div>
          				</li>
          				<li></li>
          				<li></li>
          				<li></li>
          			</ul>
          		</div>
          		<div class="block4">
          			<div class="line4">
          					<div class="select">精品书籍</div>
          					<a href="#" class="gd-more">更多></a>
          			</div>
          			<ul class="gd-list">
          				<li>
          					<div class="gd-name">电池</div>
          					<div class="gd-img"></div>
          					<div class="gd-price">2元/个</div>
          				</li>
          				<li></li>
          				<li></li>
          				<li></li>
          			</ul>
          		</div>

          		<div class="block5">
          			<div class="line5">
          					<div class="select">居家衣橱</div>
          					<a href="#" class="gd-more">更多></a>
          			</div>
          			<ul class="gd-list">
          				<li>
          					<div class="gd-name">电池</div>
          					<div class="gd-img"></div>
          					<div class="gd-price">2元/个</div>
          				</li>
          				<li></li>
          				<li></li>
          				<li></li>
          			</ul>
          		</div>

          		<div class="block6">
          			<div class="line6">
          					<div class="select">温馨旅馆</div>
          					<a href="#" class="gd-more">更多></a>
          			</div>
          			<ul class="gd-list">
          				<li>
          					<div class="gd-name">电池</div>
          					<div class="gd-img"></div>
          					<div class="gd-price">2元/个</div>
          				</li>
          				<li></li>
          				<li></li>
          				<li></li>
          			</ul>
          		</div>
          </div>
          {% endblock body-content %}


