<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<!-- 移动端必有的 -->
	<meta name="viewport" content="width=device-width,user-scalable=no,
	initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/order_list.css">
	<title>首页</title>
</head>
<body>
          <div class="header">
          		<div class="wel">快易点欢迎您!!</div>
          		<div class="header-info">
          			<div class="header-user" style="display: none;"><em>欢迎您，张三</em></div>
          			<div class="header-user">
          				<a href="#" class="go-login">欢迎您，请登录</a>
          				<a href="#" class="go-register">免费注册</a>
          			</div>
          			<div class="user-info">
          				<a href="#"><span>个人中心</span></a>    
          				<a href="#"><span>我的购物车</span></a> 
          				<a href="#"><span>我的xxxx</span></a> 
          			</div>
          		</div>
          </div>

          <div class="content-header">
          		<div class="logo"><a href="#">LOGO</a></div>
          		<div class="search-text">
          			<input type="text" name="" placeholder="搜索关键字" class="se-text">
          			<div class="se-btn">搜索</div>
          		</div>
          		<div class="cart-logo">
          			<div class="cart-name"><a href="#">我的购物车</a></div>
          			<div class="cart-img"></div>
          			<div class="cart-num"><em>0</em></div>
          		</div>
          </div>

          <div class="content-headerline">
          	   <div class="sort">
          	   			全部分类
      			</div>		
				<!-- <span><a href="#">生活必备</a></span>
				<span>|</span> 
				<span><a href="#">救急药品</a></span>
				<span>|</span> 
				<span><a href="#">诱人美食</a></span>
				<span>|</span> 
				<span><a href="#">精品书籍</a></span>
				<a href="#" class="more">更多></a> -->
          	   
          </div>

          <div class="content-body">
          	  <div class="">搜索结果如下:</div>
          		
          </div>

          <hr class="h">
		  <div class="copyright">
		  		<span>xxxx</span>
		  		<span>|</span>
		  		<span>xxxx</span>
		  		<span>|</span>
		  		<span>xxxx</span>
		  		<span>|</span>
		  		<span>xxxx</span>
		  		<br>
		  		<span>xxxx asdhi 1564654 45645 56 5645 56 </span>
		  </div>


</body>
</html>