<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
	<meta charset="utf-8">
	<!-- 移动端必有的 -->
	<meta name="viewport" content="width=device-width,user-scalable=no,
	initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

	{% block link %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/comment.css'%} ">
		<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js'%}"></script>
	{% endblock link %}

	{% block title %}
		<title>评论商品</title>
	{% endblock title %}
</head>
<body>
		{% block content-body %}
			<div class="center-info">
				<div class="info-list">
					<ul>
						<li class="li-cl"><a href="/user/user-center-info" class="clearfix">个人中心</a> </li>
						<li class="li-cl"><a href="/user/user-info-site" class="clearfix">收货地址</a></li>
						<li class="li-cl"><a href="javascript:;" class="cur clearfix">订单评价</a> </li>
					</ul>
				</div>

				<div class="info-content">
					<form method="post">
						{% csrf_token %}
						<input type="hidden" name="order_id" value="{{ order_id }}">
						{% for sku in skus %}
						    <input type="hidden" name="total_count" value="{{ sku.order.total_count }}">
							<li class="comment-content li-cl">
								<div class="comment-good">
									<div class="gd-img fl"></div>
									<div class="gd-name fl">{{ sku.sku.name }}</div>
									<div class="gd-price fl">{{ sku.price }}元</div>
									<div class="gd-count fl">{{ sku.count }}</div>
									<div class="gd-amount fl">{{ sku.amount}}元</div>
								</div>
								<div class="comment-text">
									<input type="hidden" name="sku_{{ forloop.counter }}" value="{{ sku.sku.id }}">
									<div class="fl tp">评论内容：</div>
									<div class="fl">
										<textarea class="input-text" name='comment_{{ forloop.counter }}'></textarea>
									</div>
								</div>
							</li>
						{% endfor %}
						<div><input type="submit" name="" class="btn"></div>
					</form>
				</div>

				
			</div>
			<div  class="msg">{{ content }}</div>
		{% endblock content-body %}   
		{% block bottomfile %}
				<script type="text/javascript">
					$(function(){
							// $('.info-content').find('.comment-content').each(function(){

							// 		var sku_id = $(this).find('.gd-img').attr('sku_id')
							// 		var comment = $(this).find('.input-text').text();


							// 		// alert($('.comment-content').length);
							// 		// alert(sku_id);
							// 		// alert(comment);

							// 		// msg = $('.msg').text();

							// 		// if(msg){
							// 		// 	alert(msg);
							// 		// }

							// })

					
					})
				</script>
		{% endblock bottomfile %}
</body>
</html>
