<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<!-- 移动端必有的 -->
	<meta name="viewport" content="width=device-width,user-scalable=no,
	initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/user-info-site.css">
	<title>个人中心</title>
</head>
<body>
        <div class="header">
      		<div class="wel">快易点欢迎您!!</div>
      		<div class="header-info">
                {% if user.is_authenticated %}
      			<div class="header-user">
						欢迎您，<em class="fix-em">{{ user.username }}</em>
						<a href="/user/logout" class="quit">退出</a>
					</div>
                {% else %}
                    <div class="header-user">
                        <a href="/user/login" class="go-login">欢迎您，请登录</a>
                        <a href="/user/register" class="go-register">免费注册</a>
                    </div>
                {% endif %}
      			<div class="user-info">
      				<a href="/user/user-center-info"><span>个人中心</span></a>
      				<a href="/user/user-center-order"><span>我的订单</a>
      				<a href="/"><span>首页</span></a>
      			</div>
      		</div>
        </div>

        <div class="user-header">
         	 <div class="user-logo">个人中心</div>
		</div>

		<div class="center-info">
			<div class="info-list">
				<ul>
					<li><a href="user-center-info" class="clearfix">个人中心</a> </li>
					<li><a href="javascript:;" class="cur clearfix">收货地址</a></li>
					<li><a href="./user-center-order" class="clearfix">我的订单</a> </li>
				</ul>
			</div>

			<div class="info-content">
				<div class="site-header">收货地址</div>
                {% if address %}
                    <div class="site-msg">
                        <div class="">用户名：{{ user.username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">编辑</a></div>
                        <div class="">详细地址：{{ address.address }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">编辑</a></div>
                        <div class="">联系电话：{{ address.phone }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">编辑</a></div>
                    </div>
                {% else %}
                    <div class="site-msg">
                        <div class="">用户名：{{ user.username }}</div>
                        <div class="">详细地址：(暂无默认地址，请在下方添加地址)</div>
                    </div>
                {% endif %}

				<div class="add-site-header">添加地址</div>	
				   <form method="post">
					   {% csrf_token %}
						<div class="receiver">
							收货人:
							<input type="text" name="receiver">
						</div>
						<div class="phone">
							联系电话:
							<input type="text" name="phone">
						</div>
						<div class="addr">
							<div class="fl">详细收货地址:</div> 
							<textarea class="fl addr-te" name="address"></textarea>
							<div class="fl def_addr"><input type="checkbox" name="is_default" class="add-def">是否设置为默认地址</div>
						</div>
						<input type="submit" name="submit" class="sub">
					   	<br>
					   {{ content }}
				   </form>	
			</div>
		</div>
</body>
</html>